body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.wrapper {
    width: 100%;
    min-height: 1000px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
}

.game {
    min-height: 500px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cross-zero {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    background-color: coral;
    .box {
        max-width: 80px;
        max-height: 80px;
        width: 100%;
        height: 100%;
        border: 1px solid skyblue;
        box-sizing: border-box;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#modal-result-cross {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    // position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal-window {
    width: 150px;
    height: 150px;
    border: 1px solid royalblue;
    background-color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

#btn-close {
    width: 150px;
    height: 20px;
    background-color: tomato;
    color: teal;
    text-align: center;
    cursor: pointer;
}