* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.main {
  margin: 0 auto;
  max-width: 1280px;
  max-height: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f194f;
  -webkit-animation: rotate 1100s linear infinite;
          animation: rotate 1100s linear infinite;
}

.main__background {
  width: 1800px;
  height: 1800px;
  z-index: 0;
}

.body {
  background-color: #0f194f;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main__planet {
  position: absolute;
  top: 271px;
  left: -70px;
}

.planet {
  position: absolute;
  -webkit-filter: drop-shadow(-4px 4px 10px rgba(255, 255, 255, 0.75));
          filter: drop-shadow(-4px 4px 10px rgba(255, 255, 255, 0.75));
  z-index: 1;
  max-width: 74px;
  max-height: 74px;
}

.planet_1 {
  left: 519px;
  top: 517px;
}

.planet_2 {
  left: 467px;
  top: 278px;
}

.planet_3 {
  left: 798px;
  top: 619px;
}

.planet_4 {
  left: 744px;
  top: 179px;
}

.planet_5 {
  left: 834px;
  top: 427px;
}

.main__line-item {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  -webkit-animation: linerotate 1100s linear infinite;
          animation: linerotate 1100s linear infinite;
}

@-webkit-keyframes linerotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes linerotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.games {
  top: 409px;
  left: 717px;
}

.book {
  top: 498px;
  left: 424px;
}

.project {
  top: 731px;
  left: 483px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.about {
  top: 849px;
  left: 766px;
}

.memes {
  top: 651px;
  left: 795px;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.wrapper {
  width: 100%;
  min-height: 1000px;
  color: white;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cross-zero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 240px;
  height: 240px;
  background-color: coral;
}

.cross-zero .box {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border: 1px solid skyblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-result-cross {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal-window {
  width: 150px;
  height: 150px;
  border: 1px solid royalblue;
  background-color: wheat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn-close {
  width: 150px;
  height: 20px;
  background-color: tomato;
  color: teal;
  text-align: center;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */